/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 11, 2022, 5:23:06 PM
    Author     : Benaya
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700&display=swap');
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: poppins;
    scroll-behavior: smooth;
    box-sizing: border-box;
    overflow-x: hidden ;
}


.line-one {
    position: fixed;
    width: 15px;
    height: 100%;
    background: #ff3131;
    left: 23%;

}

.line-two {
    position: fixed;
    width: 25px;
    height: 100%;
    background: #183d79;
    left: 25%;

}

nav {
    z-index: 1000;
    display: flex;
    box-shadow: 0 0 8px rgba(0,0,0,0.6);
    width: 100%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5px 0;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: #ffffff;
}

nav ul {
    flex: 1;
    text-align: right;
    padding-right: 270px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    font-size: 14px;
    right: -10vw;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #ff3131;
    transition: width 0.4s;
}

nav ul li a:hover::after {
    width: 100%;
}

.logo {
    position: relative;
    left: 2vw;
    font-weight: bold;
    text-transform: uppercase;
}

.search {
    position: fixed;
    right: 160px;
}

.menu {
    position: fixed;
    right: 100px;
}

.img img {
    position: relative;
    width: 100%;
    top: 80px;
    
   
}

.title {

    position: relative;
    line-height: .5;
    font-size: 8vw;
    font-weight: 700;
    letter-spacing: -0.6vw;
    top: 20vw;
    left: -10%;
    
    
}

.title p {
    position: inherit;
    font-size: 2vw;
    font-weight: 300;
    color: grey;
    text-transform: uppercase;
    letter-spacing: 1vw;
    padding-bottom: 1vw;

}


.btn a{
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    background: #ff3131;
    color: #fff;
    padding: 1vw 2vw;
    border-radius: 4px;
    transition: .4s;
    top: 23vw;
    left: 13vw;

}

.btn a:hover {
    background: #000;
    color: #fff;
}

.btn-add{
    margin-bottom: 20px;
    text-decoration: none;
    text-transform: uppercase;
    background: #ff3131;
    color: #fff;
    padding: 10px 10px;
    border-radius: 10px;
    transition: .4s;
    font-size: 10px;
}
.btn-add:hover {
    background: #000;
    color: #fff;
}


.products{
    width: 100%;
    height: 140vh;
    padding: 25px 0;
    margin-top: 12rem;
}

.products_text h2{
    font-family: "poppins";
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background: linear-gradient(to right, black,black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   

}.products_text p{
    font-family: "poppins";
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, grey,grey);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
}
.box{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px 0;
    
   
}
 .box .card{
    width: 100%;
    height: 70vh;
    box-shadow: 0 0 8px #6c14d0;
    border-radius: 5px;
    text-align: center;
    padding: 10px 20px;
    background: white;
    z-index: 950;
    margin-right: 20px;
}
.box .card .small_card{
    display: flex;
    flex-flow: column;
    position: absolute;
    margin: 10px 0;
    transform: translateX(-20px);
    transition: 0.3s;
    opacity: 0;
}
.box .card:hover .small_card{
    transform: translateX(2px);
    cursor: pointer;
    opacity: 1;
    
}
 .box .card .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

 .box .card .image img{
    width: 150px;
    margin: 15px 0;
    transition: 0.3s;
}
 .box .card .small_card i{
    width: 45px;
    height: 45px;
    border-radius: 5px;
    font-size: 18px;
    margin: 2px 0;
    line-height: 40px;
    border: 2px solid #999999;
    transition: 0.2s;
}

 .box .card .small_card i:hover{
    color: #c72092;
}

 .box .card .products_text h2{
    font-size: 30px;
    margin-top: 15px;
}
.box .card .products_text .products_star{
    color: orange;
    margin-bottom: 19px;
    cursor: pointer;
}
.products-title{
    font-family: poppins;
    text-align: center;
    font-size: 2rem;
    letter-spacing: -0.1vw;
    font-weight: bold;
    color: black;
    position: relative;
    top: 3vw;
}

.see-more-text{
    font-family: 'Poppins';
    position: relative;
    left: 3%;
    top: 50%;

}
.services-title{
    font-family: poppins;
    text-align: center;
    font-size: 2rem;
    letter-spacing: -0.1vw;
    font-weight: bold;
    color: black;
    position: relative;
    top: 3vw;
}

 .services_cards{
    width: 80%;
    margin: 0 auto;
    display: grid;
    align-items: center;
    position: relative;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    float: left;
    top: 5vw;
    justify-content: center;
    background-color: white;
    border-radius: 50px;
    border: 1rem black;
    padding-top: 30px;  
    box-shadow: 0 0 8px #6c14d0;  
 

}

/*Footer*/

.services_box i{
    font-size: 40px;
    color: orange;
    margin: 20px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    
}

.services_box h3{
    margin-bottom: 12px;
    font-size: 19px;
    text-align: center;
}

 .services_box p{
    text-align: center;
    color: #919191;
    margin-bottom: 60px;
}


footer{
    width: 100%;
    margin: 0;
   z-index: 1;
   position: relative;

}

footer .footer_main{
    width: 100%;
    background:#191825;
    display: flex;
    justify-content: space-around;
  
}

footer .footer_main .tag{
    margin: 10px 0;
}

footer .footer_main .tag .center{
    text-align: center;
}

footer .footer_main .tag h1{
    font-size: 1rem;
    margin: 25px 0;
    color: #ff3131;
}

footer .footer_main .tag a{
    display: block;
    color: white;
    text-decoration: none;
    margin: 9px 0;
    font-size: 13px;
}

footer .footer_main .tag a i{
    padding: 0 10px;
    transition: 0.3;
}

footer .footer_main .tag a i:hover{
    color: #c72092;
}

footer .footer_main .tag .social_link{
    display: flex;
}

footer .footer_main .tag .social_link a{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    color: white;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.05);
    position: relative;
    margin: 0 5px;
    z-index: 10;
    overflow: hidden;
}

footer .footer_main .tag .social_link a .fa-brands{
    font-size: 15px;
    line-height: 30px;
    z-index: 10;
    position: relative;
    transition: 0.5s;
}

footer .footer_main .tag .social_link a:hover i{
    color: white;
}

footer .footer_main .tag .social_link a::after{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: -90px;
    background: linear-gradient(-45deg, #c72092 , #6c14d0);
    position: absolute;
    z-index: -10;
    transition: 0.5s;
}

footer .footer_main .tag .social_link a:hover::after{
    left: 0;
}

footer .footer_main .tag .search_bar{
    width: 230px;
    height: 30px;
    background: rgb(202, 202, 202);
    border-radius: 25px;
}

footer .footer_main .tag .search_bar input{
    width: 200px;
    padding: 2px 0;
    position: relative;
    top: 17%;
    left: 6%;
    border: none;
    background: none;
    outline: none;
    font-size: 13px;
}

footer .footer_main .tag .search_bar button{
    padding: 7px 15px;
    background: linear-gradient(to right, #c72092 , #6c14d0);
    border: none;
    margin-top: 15px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
}
.menu-toogle {
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

/*Hamburger Menu Animation*/
.menu-toogle span:nth-child(2) {
   transform-origin: 0 0;
}

.menu-toogle span:nth-child(4) {
    transform-origin: 0 100%;
 }
 
.menu-toogle input:checked ~ span:nth-child(2) {
    background-color: #ffffff;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toogle input:checked ~ span:nth-child(4) {
    background-color: #ffffff;
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toogle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}
.menu-toogle input {
    position: absolute;
    width: 40px;
    height: 28px;
    top: -5px;
    left: -7px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toogle span { 
    display: block;
    width: 28px;
    height: 3px;
    background-color: #000000;
    border-radius: 3px;
    transition: all 0.5s;
}

/*Responsive Breakpoint*/
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .row{
        text-align: center;
    }
    nav ul {
       width: 50%;
    }
    .box{
        padding-top: 10px;
    }
    .see-more-text{
        left: 0;
    
    }


}

@media only screen and (max-width: 576px) {
    /* For mobile phones: */
    .row {
            text-align: center;
        }
    
        .menu-toogle {
            display: flex;
        }
    
        nav ul {
            position: absolute;
            right: 0;
            top: 0;
            width: 50%;
            height: 100vh;
            justify-content: space-evenly;
            flex-direction: column;
            align-items: center;
            background-color: #ffffff;
            z-index: 1;
            transform: translateX(100%);
            transition: all 1s;
            opacity: 0;
            text-align: left;
        }
    
        nav ul.slide {
            opacity: 1;
            transform: translateX(0);
        }
        .cart-info p {
            display: none;
        }
     
    }

@media screen and (min-width:  930px) {
    .menu-toogle {
        display: none;

    }
    .tag {
        text-align: center;
        align-content: center;

    }
  
}

@media screen and (max-width:  930px) {
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: #ffffff;
        z-index: 1;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
        text-align: left;
    }
    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
        
    }
    .box{
        padding-top: 10px;
    }
}


@media only screen and (max-width: 414px) {
    /* For mobile phones: */
    .footer-watch{
        width: auto;


    }
    .products-title{
        font-size: 20px;
        margin-bottom: -4rem;
    }
    .services-title{
        font-size: 20px;
    }
    .lokasi{
        width: 20rem;
    }
    footer .footer_main{
        width: 20rem;
        background:#191825;
        display: flex;
        justify-content: space-around;
      
    }
    a.ttle-footer{
        font-size: 10px;
    }
    .see-more-text{
        left: 0;
    }
}